* {
    margin: 0;
    padding: 0;
}
body {
	color: #eee;
    background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    text-shadow: 1px 1px rgba(238, 238, 238, 0.25);
    font: 20px/40px 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}
.wrap {
	width: 960px;
	margin: 0 auto;
}
.wrapper {
	padding: 40px 20px;
}
.github-ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
.justify {
	text-align: justify;
}
.big {
	font-size: 25px;
}
h1 {
	font-size: 35px;
}
h2, .bigger {
	font-size: 30px;
	font-weight: bold;
}
h1, h2 {
	margin-bottom: 10px;
	color: #f72;
	text-shadow: 1px 1px rgba(255, 119, 40, 0.25);
}
h2 {
	font-variant: small-caps;
}
p {
	margin-bottom: 20px;
}
textarea {
	padding: 10px;
	width: 900px;
	height: 200px;
	background: #777;
	border: 1px solid #eee;
	color: #fff;
	font: normal 20px/30px 'Siyam Rupali', KalPurush, SolaimanLipi, Georgia, serif;
	border-radius: 5px;
}
table {
	font-size: 15px;
	border: 0;
}
td, th {
	padding: 0 12px;
	background: #333;
}
code, pre {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 90%;
	text-shadow: 0 1px 0 white;
}
code {
	color:white;
	background:#F72;
	padding:.4em .4em .2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	border-radius:5px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
}
pre {
	padding:.5em .8em;
	border:.1px solid #ccc;
	border-color:#bbb #ddd #ddd #bbb;
	
	background-color:#ffecd0;
	background-size: 3em 3em;
	
	background-origin: content-box;
	background-image: linear-gradient(rgba(255, 255, 255, .3) 50%, transparent 50%, transparent);
	
	line-height:1.5em;
	margin-bottom:1em;
	overflow:auto;
	
	box-shadow:.1px 1px 3px rgba(0,0,0,.3) inset;
}
acronym, abbr {
	border-bottom: 1px dashed #999;
}
blockquote {
	margin: 15px 0 0 10px;
	padding: .3em 1em .3em 2em;
	border-left: .7em double rgba(255, 255, 255, .3);
	background: #ffecd0;
}

blockquote:before {
	content: '\275D';
	float: left;
	display: block;
	margin-left: -.8em;
	margin-top: -.25em;
	color: #f72;
	font-size: 400%;
	line-height: 1;
}

blockquote cite {
	margin: 5px 0 0;
	display: block;
}